<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Анализ крови в формате Json</title>
</head>
<body>
    <div class="container">
        <!-- Левая панель -->
        <div class="left-panel">
            <h1>Выделение данных анализа крови с картинки или текста</h1>

            <!-- Выбор модели -->
            <div class="engine-selection">
                <label for="ocrEngine">Выберите модель:</label>
                <select id="ocrEngine">
                    <option value="llama3.2:3b">Llama3.2:3b</option>
                    <option value="llama3.2-vision">Llama3.2-vision</option>
                </select>
            </div>
            <br><br>

            <!-- Drag and Drop -->
            <div id="dropZone" class="drop-zone"
                 ondrop="dropHandler(event)"
                 ondragover="dragOverHandler(event)">
                Перетащите изображение сюда или <span class="browse-text" onclick="document.getElementById('imageInput').click()">нажмите для выбора</span>
                <input type="file" id="imageInput" accept="image/*" hidden onchange="showImagePreview(event)">
            </div>
            <div id="imagePreview" class="image-preview"></div>
            <div class="text-input">
                <form id="textForm">
                    <textarea id="TextInput" name="text" rows="20" placeholder="Введите текст для анализа..."></textarea>
                </form>
                
                <form id="promtForm">
                    <textarea id="PromtInput" name="promt" rows="3" placeholder="Введите promt для анализа..."></textarea>
                </form>
            </div>
            <button id="recognizeButton" class="recognize-button" onclick="uploadData()">
                Найти показатели
            </button>
        </div>

        <!-- Правая панель -->
        <div class="right-panel">
            <h2>Распознанный текст:</h2>
            <div id="outputText"></div>
        </div>
    </div>
</body>
</html>